# Ignore folders.
.storage
.cloud
.google.token
.uuid
esphome/

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
*.db
*.log
*.jpg
home-assistant_v2.*
ip_bans.yaml
secrets.yaml
known_devices.yaml
core.*
*.gitignore*